:root {
	--container-width: 1140px;

	--headings-font: "Barlow Semi Condensed", sans-serif;
	--primary-font: "Roboto", sans-serif;

	--text-color: #e9f7fc;
	--background-color: #000019;
	--primary-color: #8e3ef8;
	--secondary-color: #119fcf;
	--accent-color: #ff6f6f;

	--fs-s: 1.6rem;
	--fs-l: 1.8rem;
	--fs-xl: 2rem;

	--fw-l: 300;
	--fw-r: 400;
	--fw-m: 500;
	--fw-sb: 700;
	--fw-b: 900;

	--default-margin: 0 auto;

	--default-transition: all 0.2s ease-in;

	--gradient: linear-gradient(
		to bottom,
		var(--secondary-color),
		var(--primary-color)
	);

	--background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='4000' height='2000' preserveAspectRatio='none' viewBox='0 0 4000 2000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1219%26quot%3b)' fill='none'%3e%3cpath d='M0 143.68C120.79 3.56 213.98 62.37 431.03 0C463.98 -9.47 465.51 0 500 0C750 0 750 0 1000 0C1162.7 0 1178.08 -42.65 1325.4 0C1428.08 29.72 1418.3 66.3 1500 144.74C1678.68 316.3 1671.71 323.73 1846.15 500C1921.71 576.36 1925.96 650 2000 650C2068.82 650 2062.55 571.83 2131.87 500C2312.55 312.76 2308.87 131.87 2500 131.87C2707.68 131.87 2723.09 308.21 2929.49 500C2973.09 540.52 2945.19 592.04 3000 596.49C3230.45 615.19 3249.91 570.43 3500 546.3C3749.91 522.19 3874.73 386.33 4000 500C4124.73 613.18 4000 750 4000 1000C4000 1250 4000 1250 4000 1500C4000 1724.36 4105.33 1817.05 4000 1948.72C3905.33 2067.05 3800.33 1979.45 3600 2000C3550.33 2005.09 3550 2000 3500 2000C3250 2000 3250 2000 3000 2000C2853.45 2000 2706.9 2067.15 2706.9 2000C2706.9 1897.15 2834.66 1807.69 3000 1660C3114.54 1557.69 3266.67 1574.01 3266.67 1500C3266.67 1429.5 3120.22 1455.75 3000 1370.97C2765.73 1205.75 2780.37 1183.52 2557.69 1000C2530.37 977.48 2527.97 958.9 2500 958.9C2474.93 958.9 2476.82 980.71 2451.61 1000C2226.82 1171.99 2252.37 1241.58 2000 1341.46C1776.57 1429.89 1716.45 1456.93 1500 1376.62C1256.3 1286.2 1193.32 1232.39 1079.71 1000C979.04 794.08 1103.84 739.88 1071.43 500C1063.98 444.88 1044.24 410 1000 410C930.94 410 916.33 446.27 844.83 500C666.33 634.13 695.67 687.36 500 785.71C273.25 899.69 137.49 1003.22 0 924.66C-112.51 860.37 0 712.33 0 500C0 321.84 -94.73 253.56 0 143.68' stroke='rgba(114%2c 24%2c 234%2c 0.72)' stroke-width='2'%3e%3c/path%3e%3cpath d='M4000 500C3896.52 500 3627.12 156.46 3627.12 0C3627.12 -93.54 3920.36 -106.8 4000 0C4106.8 143.2 4082.96 500 4000 500' stroke='rgba(114%2c 24%2c 234%2c 0.72)' stroke-width='2'%3e%3c/path%3e%3cpath d='M164.47 1500C341.57 1316.54 326.17 1113.64 500 1113.64C684.23 1113.64 760.74 1270.92 880.6 1500C992.62 1714.1 1063.15 1869.45 963.77 2000C872.85 2119.45 731.88 2000 500 2000C250 2000 143.94 2106.06 0 2000C-106.06 1921.85 -52.32 1790.64 0 1631.58C29.91 1540.64 91.57 1575.51 164.47 1500' stroke='rgba(114%2c 24%2c 234%2c 0.72)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1500 2000C1500 1973.19 1764.82 1893.94 2000 1893.94C2071.27 1893.94 2112.9 1969.33 2112.9 2000C2112.9 2022.36 2056.45 2000 2000 2000C1750 2000 1500 2026.22 1500 2000' stroke='rgba(114%2c 24%2c 234%2c 0.72)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 287.36C153.51 287.36 440.48 385.71 440.48 500C440.48 618.74 146.96 753.42 0 753.42C-73.28 753.42 0 626.71 0 500C0 393.68 -66.73 287.36 0 287.36' stroke='rgba(114%2c 24%2c 234%2c 0.72)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1000 160C902.47 160 783.78 44.35 783.78 0C783.78 -35.65 891.89 0 1000 0C1063.49 0 1126.98 -30.67 1126.98 0C1126.98 49.33 1074.07 160 1000 160' stroke='rgba(114%2c 24%2c 234%2c 0.72)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1269.84 500C1314.57 370.77 1389.99 309.21 1500 309.21C1598.02 309.21 1591.45 406.11 1685.9 500C1841.45 654.63 1836.11 660.98 2000 806.25C2118.16 910.98 2250 903.87 2250 1000C2250 1095.26 2144.38 1147.77 2000 1189.02C1769.38 1254.91 1725.16 1271.87 1500 1214.29C1355.59 1177.36 1305.87 1139.65 1260.87 1000C1190.79 782.51 1195.01 716.17 1269.84 500' stroke='rgba(114%2c 24%2c 234%2c 0.72)' stroke-width='2'%3e%3c/path%3e%3cpath d='M2269.23 500C2269.23 378.3 2380.18 269.23 2500 269.23C2630.18 269.23 2769.23 377.21 2769.23 500C2769.23 636.43 2629.13 787.67 2500 787.67C2379.13 787.67 2269.23 637.52 2269.23 500' stroke='rgba(114%2c 24%2c 234%2c 0.72)' stroke-width='2'%3e%3c/path%3e%3cpath d='M4000 215.91C3955.31 215.91 3838.98 67.56 3838.98 0C3838.98 -40.39 3965.61 -46.12 4000 0C4046.12 61.84 4035.82 215.91 4000 215.91' stroke='rgba(114%2c 24%2c 234%2c 0.72)' stroke-width='2'%3e%3c/path%3e%3cpath d='M2798.08 1000C2798.08 910 2876.19 854.99 3000 815.79C3227.15 743.88 3250.09 776.6 3500 777.78C3750.09 778.96 3815.86 738.67 4000 820.51C4065.86 849.78 4000 910.26 4000 1000C4000 1250 4000 1250 4000 1500C4000 1564.11 4038.29 1628.21 4000 1628.21C3919.24 1628.21 3879.3 1567 3761.9 1500C3629.3 1424.33 3639.4 1403.36 3500 1342.86C3258.45 1238.03 3234.29 1283.79 3000 1169.35C2883.33 1112.36 2798.08 1086.78 2798.08 1000' stroke='rgba(114%2c 24%2c 234%2c 0.72)' stroke-width='2'%3e%3c/path%3e%3cpath d='M328.95 1500C424.56 1412.01 411.38 1303.03 500 1303.03C593.92 1303.03 644.21 1377.15 694.03 1500C785.52 1725.63 844.94 1839.39 782.61 2000C747.92 2089.39 641.31 2000 500 2000C250 2000 169.64 2080.36 0 2000C-80.36 1961.94 -59.19 1853.13 0 1763.16C105.28 1603.13 174.56 1642.08 328.95 1500' stroke='rgba(114%2c 24%2c 234%2c 0.72)' stroke-width='2'%3e%3c/path%3e%3cpath d='M2922.41 2000C2922.41 1972.78 2954.96 1910 3000 1910C3061.93 1910 3136.36 1975.47 3136.36 2000C3136.36 2020.47 3068.18 2000 3000 2000C2961.2 2000 2922.41 2017.78 2922.41 2000' stroke='rgba(114%2c 24%2c 234%2c 0.72)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 431.03C49.79 431.03 142.86 462.93 142.86 500C142.86 538.51 47.66 582.19 0 582.19C-23.77 582.19 0 541.1 0 500C0 465.51 -21.64 431.03 0 431.03' stroke='rgba(114%2c 24%2c 234%2c 0.72)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1468.25 500C1470.46 479.97 1484.83 473.68 1500 473.68C1513.52 473.68 1512.5 487.16 1525.64 500C1762.5 731.57 1760.73 733.65 2000 962.5C2022.11 983.65 2048.39 981.39 2048.39 1000C2048.39 1018.44 2029.66 1033.78 2000 1036.59C1755.46 1059.76 1741.42 1067.78 1500 1051.95C1462.43 1049.49 1444.17 1037.13 1442.03 1000C1428.29 761.16 1441.47 743.13 1468.25 500' stroke='rgba(114%2c 24%2c 234%2c 0.72)' stroke-width='2'%3e%3c/path%3e%3cpath d='M2406.59 500C2406.59 450.74 2451.5 406.59 2500 406.59C2552.69 406.59 2608.97 450.3 2608.97 500C2608.97 555.22 2552.27 616.44 2500 616.44C2451.08 616.44 2406.59 555.66 2406.59 500' stroke='rgba(114%2c 24%2c 234%2c 0.72)' stroke-width='2'%3e%3c/path%3e%3cpath d='M493.42 1500C497.33 1496.85 496.59 1492.42 500 1492.42C503.61 1492.42 506.42 1494.8 507.46 1500C557.15 1748.59 604.56 1791.56 601.45 2000C600.83 2041.56 550.72 2000 500 2000C250 2000 206.52 2043.48 0 2000C-43.48 1990.85 -35.23 1930.44 0 1894.74C211.48 1680.44 247.33 1698.01 493.42 1500' stroke='rgba(114%2c 24%2c 234%2c 0.72)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1219'%3e%3crect width='4000' height='2000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: var(--primary-color);
}

html::-webkit-scrollbar {
	width: 5px;
	background-color: #f5f5f5;
}

html::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: var(--secondary-color);
}
html {
	font-size: 62.5%;
	background: var(--background-color);
	color: var(--text-color);
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
	color: var(--text-color);
}
ul,
ol {
	list-style: none;
}
img {
	height: 100%;
	width: 100%;
}
li {
	display: inline-block;
}
